@import "./constants.scss";

.junction {
  width: 100%;
  height: 5em;
  // background: url("../svg/junction.svg");
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.faq-container {
  position: relative;
}
.bg-triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../svg/triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container-piano-faq {
  display: flex;
  flex-direction: column;
}

.bg-rectangle {
  position: relative;
  background-color: $lightGray;
  border: 18px solid $primary;
  // background-color: $primary;
  // opacity: 0.3;
  z-index: 13;
  height: 500px;
  @media (max-width: 992px) {
    // padding-top: 8em !important;
    height: 600px;
  }
}

.piano-schema {
  position: absolute;
  background: url("../svg/piano.svg");
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  z-index: 15;
}

.textbelow {
  position: absolute;
  background-color: $darkGray;
  bottom: 0;
  width: 40%;
  p {
    color: $white;
  }
  @media (max-width: 992px) {
    width: 60%;
    z-index: 15;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.texttop {
  background-color: $darkGray;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(50%, -50%);
  width: 20%;
  p {
    color: $white;
  }
  @media (max-width: 992px) {
    top: 0;
    border-radius: 0;
    width: 80%;
    margin-right: 0.4em;
    margin-top: 0.4em;
    transform: translate(0%, 0%);
    z-index: 50;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.faq-question-answer {
  background-color: $black;
}
.faq-title {
  color: $white;
  margin-bottom: 1em;
}

.faq-question {
  color: $white;
  margin-bottom: 0.8em;
}

.faq-answer {
  color: $white;
  margin-bottom: 3.4em;
}
