@import "./constants.scss";

.junction {
  width: 100%;
  height: 10em;
  padding-left: 140px;
  //   position: absolute;
  background: url("../svg/junction.svg");
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.faq-container {
  // height: 1100px;
  position: relative;
  background: url("../svg/triangle.svg");
  background-size: 116% auto;
  background-repeat: no-repeat;
  // background-size: contain;
  // position: absolute;
  width: 100%;
  height: 1200px;

  //   width: 100%;
  //   height: 800px;
}

.container-piano-faq {
  display: flex;
  flex-direction: column;
}

.bg-triangle {
  //   background-color: red;
  // background-color: orange;
}

.bg-rectangle {
  position: relative;
  // position: absolute;
  // top: -80px;
  background-color: $lightGray;
  z-index: 13;
  // opacity: 0.9;
  border-radius: 60px;
  height: 500px;
}

.piano-schema {
  background-color: green;

  position: absolute;
  // top: 40px;
  background: url("../svg/piano.svg");
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 40px;
  padding-bottom: 80px;
  // padding: 80px;

  // width: 50%;
  // height: 700px;
  height: 100%;
  z-index: 15;
}

.textbelow {
  margin-left: 3em;
  margin-bottom: 3em;
  position: absolute;
  bottom: 0;
  width: 40%;
}

.texttop {
  margin-right: 2em;
  margin-top: 2em;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}
.faq-title {
  color: $white;
  margin-bottom: 1em;
}

.faq-question {
  color: $white;
  margin-bottom: 0.8em;
}

.faq-answer {
  color: $white;
  margin-bottom: 2.4em;
}
