@import "./constants.scss";

.footer-container {
  // background-color: $black;
  // background-color: $black;
  background-color: $primary;
  p {
    color: $white;
    font-weight: $fontWeightBold;
    background-color: $primary;
  }
}
