@import "./constants.scss";

.functions-card-body {
  text-align: justify;
}
.function-card-text {
  color: $black;
  font-weight: $fontWeightStandard;
}

.function-card-title {
}
.function-title {
  height: 50px;
  line-height: 50px;
}
@media (max-width: 380px) {
  :root {
    --font-size-h1: 1.2em;
    --font-size-h2: 0.7em;
    --font-size-p: 0.6em;
  }
}

.functions-container {
  .marker {
    width: 90px;
    border: 3px solid $primary;
    background-color: $primary;
    border-radius: 5px;
    height: 4px;
    // margin-bottom: 2em;
  }
}

.svg-container-1 {
  background-image: url("../svg/functionEar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}

.svg-container-2 {
  background-image: url("../svg/functionDrums.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}
.svg-container-3 {
  background-image: url("../svg/functionRec.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}
