@import "./constants.scss";

.functions-container {
  .marker {
    // background-color: $primary;
    margin-left: 10px;
    width: 90px;
    border: 2.5px solid $primary;
    border-radius: 5px;
    height: 4px;
    margin-bottom: 2em;
  }
  .functions-card-title {
    margin-bottom: 1.2em;
  }
}
