@import "./constants.scss";

.head-container {
  height: 80vh;
  max-height: 800px;
}

.head-text,
p {
  color: $dark;
  font-weight: $fontWeightStandard;
  strong {
    color: $primary;
  }
}

.section-picture {
  background-image: url("../img/raspiAlone2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.section-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .section-card-picture-top {
    height: 40%;
    background-image: url("../img/bg3.png");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
  }
  .section-card-picture-below {
    height: 15%;
    background-image: url("../img/raspiHeadPicCrop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
  }

  .section-card-text {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    font-size: $fontSizeHead;
    font-weight: $fontWeightBold;
  }

  .btn {
    font-size: larger;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
