@import "./constants.scss";

.row {
  height: 100%;
}

.head-container {
  height: 80vh;
  width: 100%;
}

.section-picture {
  height: 100%;
  width: 100%;
  background-image: url("../img/raspiAlone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.section-card {
  .section-card-picture {
    height: 60%;
    background-image: url("../img/raspiHeadPic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
  }

  .section-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    font-size: $fontSizeHead;
    font-weight: $fontWeightHead;
  }
  button {
    margin: auto;
    margin-left: 0;
  }

  .btn {
    // border-radius: 4px;
    font-size: larger;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
