@import "./constants.scss";

// variables
$navbar-margin-right: 3em;
$logo-height: 50px;

li {
  margin-right: $navbar-margin-right;
  .nav-link {
    padding-left: 0;
    color: $light;
    font-size: $fontSizeNav;
    font-weight: $fontWeightBold;
  }
  .nav-link:hover {
    color: $light;
  }
}

.logo {
  height: $logo-height;
  float: right;
}
