@import "./constants.scss";

.bg-triangle {
  border-bottom: 10px solid $black;
}
.container-piano-faq {
  // border: 10px solid $black;
}
.schema-container {
  .schema-bg {
    background-color: $lightGray;
    border: 18px solid $primary;
    height: 700px;
  }

  .parts-container {
    position: relative;
  }

  .card-component {
    position: absolute;
    display: flex;
    flex-direction: row;

    .component-picture {
      //   background-color: green;
      width: 307px;
      height: 234px;
    }
    .tooltip-container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .component-tooltip {
      opacity: 0.8;
      position: absolute;
      left: -40px;
      top: 60%;
    }
    .component-tooltip-text {
      border-radius: 10px;
      position: absolute;
      background-color: $darkGray;
      color: $white;
      width: 500px;
      top: 60%;
      transform: translate(0, 0%);
      opacity: 0.9;
      p {
        font-size: $fontSizeTooltip;
      }
    }
  }
}
