@import "./constants.scss";

html,
body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
