@import "./constants.scss";

.video-container {
  background-color: $primary;
  // width: 100%;
  //   height: 800px;

  .video-header {
    display: flex;
    flex-direction: row;
  }

  .video-movie {
    // width: 100%;
    height: 600px;
    background-color: black;
  }
}
